/* 
Unity standard fonts 
*/
body{ font-family:Helvetica, Arial, sans-serif; font-size:.9em; }

/*
simple format for code, using fixed width
and a nice border
*/
pre { font-family:"Courier New", Courier, monospace; font-size:.8em; }
pre { padding:10px; margin:10px; border:1px #d8d8d8 solid; }
pre { -moz-border-radius:10px; -webkit-border-radius:10px; }
pre { background:#f8f8f8; }

/*
aligns the selection dialog on the top right
*/
.selectLang { margin-right:10px; text-align:right; float:right; }


.cSelect,
.cSelect ul,
.cSelect li { font-size:12px; }

/*.cSelect { border:1px solid #d0d0d0; }
.cSelect { background:#ddf; }*/
/*
.cSelect { -moz-border-radius:10px; -webkit-border-radius:10px; }*/

.cSelect { display:inline-block; position:relative; float:right; margin-right:20px;}
.cSelect { padding-top:.4em; padding-bottom:.2em;}
.cSelect-Selected,
.cSelect-ArrowDown,
.cSelect li { cursor:pointer; }

.cSelect,
.roundTop { -webkit-border-top-left-radius:10px; -webkit-border-top-right-radius:10px; }
.cSelect,
.roundTop { -moz-border-radius-topleft:10px; -moz-border-radius-topright:10px; }

.roundBottom,
.cSelect ul { -webkit-border-bottom-left-radius:10px; -webkit-border-bottom-right-radius:10px; }
.roundBottom,
.cSelect ul { -moz-border-radius-bottomleft:10px; -moz-border-radius-bottomright:10px; }


.cSelectWidth { width:10em; display:block;}

.cSelect-wrapper { position:relative; }

.cSelect ul { background:#fff; padding:0px; margin:0px; display:inline-block; }
.cSelect ul { z-index:10; position:absolute; top:1.3em; }
.cSelect ul { padding-bottom:.5em; padding-top:.5em; padding-left:0px; padding-right:0px; }
/*.cSelect ul { border:1px solid #d0d0d0; }*/


.cSelect li { padding:.1em; margin:0px; text-align:right; list-style-type:none; }
.cSelect li { padding-left:.7em; padding-right:24px; }

.cSelect-highlight { background:#f0f0f0; }

.cSelect-Selected { margin-left:.5em; margin-right:.5em; text-align:right; float:right; width:75%}

.cSelect-ArrowDown { width:18px; height:18px; display:inline-block; float:right}
.cSelect-ArrowDown { background:url('../Images/down-arrow.png'); text-align:center; }
.cSelect-ArrowDown { -moz-border-radius:9px; -webkit-border-radius:9px; }

.monoCompatibility-roweven { background-color:#DCDDDF; }
.monoCompatibility-rowodd { background-color:#F3F3F4; }
.monoCompatibility-cell { border:1px solid #ffffff;}
