body {
  min-width: 760px; background-color: #fff; margin: 15px 10px 10px 10px;
}
body, p, ul, ol, td, li {
  font-family: Helvetica, Arial, sans-serif; font-size: 12px;
}
body, p { color: #444; line-height: 17px;}

.clear:after { 
  visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0;
}
.clear {
  display: inline-table; clear: both;
}

div.master-header { 
  width: 100%; margin: 0 0 25px 0;
}
div.master-header div.header-wrapper { 
  width: 100%;
}

/****************************************
  ==== FIRST LEVEL NAVIGATION
****************************************/
@font-face {font-family: 'KlavikaMedium';src: url('http://unity3d.com/resources/stylesheets/fonts/KlavikaWebBasicMedium.eot');src: url('http://unity3d.com/resources/stylesheets//fonts/KlavikaWebBasicMedium.eot?#iefix') format('embedded-opentype'),url('http://unity3d.com/resources/stylesheets//fonts/KlavikaWebBasicMedium.woff') format('woff');font-weight: normal;font-style: normal;}
div.top-nav {
  width: 100%; height: 40px; -webkit-border-radius: 3px 3px 0 0; -moz-border-radius: 3px 3px 0 0; border-radius: 3px 3px 0 0; background: rgba(84,84,84,0.9);
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU0NTQ1NCIgc3RvcC1vcGFjaXR5PSIwLjkiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjMjkyOTI5IiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGYwZjBmIiBzdG9wLW9wYWNpdHk9IjAuOSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, rgba(84,84,84,0.9) 0%, rgba(53,53,53,0.9) 50%, rgba(41,41,41,0.9) 50%, rgba(15,15,15,0.9) 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(84,84,84,0.9)), color-stop(50%,rgba(53,53,53,0.9)), color-stop(50%,rgba(41,41,41,0.9)), color-stop(100%,rgba(15,15,15,0.9))); background: -webkit-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%); background: -o-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%);  background: -ms-linear-gradient(top, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%); background: linear-gradient(to bottom, rgba(84,84,84,0.9) 0%,rgba(53,53,53,0.9) 50%,rgba(41,41,41,0.9) 50%,rgba(15,15,15,0.9) 100%);
}
div.top-nav ul {
  width: 500px; list-style-type: none; margin: 0; padding: 0;
}
div.top-nav ul li {
  height: 40px; float: left;
}
div.top-nav ul li a {
  height: 40px; line-height: 40px; font-size: 16px; font-weight: bold; float: left; padding: 0 20px; text-decoration: none; color: #fff; font-family: "KlavikaMedium", Helvetica, Arial, sans-serif; text-shadow: 0 1px 2px rgba(0,0,0,0.4); margin: 0 !important;
}
div.top-nav ul li a:hover {
  color: #fff; background: rgba(0,0,0,0.3); -webkit-transition: all .25s ease-out; -moz-transition: all .25s ease-out; -o-transition: all .25s ease-out; transition: all .25s ease-out;
}
div.top-nav ul li.tn-icon {
  width: 60px; margin: 0 8px 0 0; position: relative; overflow: visible;
}
div.top-nav ul li.tn-icon a {
  width: 55px; height: 57px; padding: 0; background: url(unity-icon.png) 0 0 no-repeat; text-indent: -9999em; position: absolute; top: -7px; left: 6px; z-index: 100;
}

/* Buttons the containing style (.Components) is the location of the current page
    I use this to select between on and off images */
.Components .reference, .Components .reference:hover { 
  margin: 0; position: relative; background: #41badd; background: -moz-linear-gradient(top, #41badd 0%, #37a1ca 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41badd), color-stop(100%,#37a1ca)); background: -webkit-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -o-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -ms-linear-gradient(top, #41badd 0%,#37a1ca 100%); background: linear-gradient(to bottom, #41badd 0%,#37a1ca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#37a1ca',GradientType=0 );
}
.Components .reference:before {
  content: ""; width: 100%; height: 34px; display: block; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4); box-shadow: 0 0 5px rgba(0,0,0,1); position: absolute; top: 3px; left: 0; z-index: -1;
}
.Manual .manual, .Manual .manual:hover { 
  margin: 0; position: relative; background: #41badd; background: -moz-linear-gradient(top, #41badd 0%, #37a1ca 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41badd), color-stop(100%,#37a1ca)); background: -webkit-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -o-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -ms-linear-gradient(top, #41badd 0%,#37a1ca 100%); background: linear-gradient(to bottom, #41badd 0%,#37a1ca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#37a1ca',GradientType=0 );
}
.Manual .manual:before {
  content: ""; width: 100%; height: 34px; display: block; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4); box-shadow: 0 0 5px rgba(0,0,0,1); position: absolute; top: 3px; left: 0; z-index: -1;
}
.Scripting .script, .Scripting .script:hover { 
  margin: 0; position: relative; background: #41badd; background: -moz-linear-gradient(top, #41badd 0%, #37a1ca 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#41badd), color-stop(100%,#37a1ca)); background: -webkit-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -o-linear-gradient(top,  #41badd 0%,#37a1ca 100%); background: -ms-linear-gradient(top, #41badd 0%,#37a1ca 100%); background: linear-gradient(to bottom, #41badd 0%,#37a1ca 100%); filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#41badd', endColorstr='#37a1ca',GradientType=0 );
}
.Scripting .script:before {
  content: ""; width: 100%; height: 34px; display: block; -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.4); box-shadow: 0 0 5px rgba(0,0,0,1); position: absolute; top: 3px; left: 0; z-index: -1;
}
.Components .reference { margin: 0; }
.Components .script { margin: 0; }
.Manual .manual { margin: 0; }
.Manual .script { margin: 0; }
.Scripting .manual { margin: 0; }
.Scripting .reference { margin: 0; }

/****************************************
  ==== SECOND LEVEL NAVIGATION
****************************************/

div.sub-nav {
  width: 100%; padding: 2px 0 0 0; background: #379fc9; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px;
}
div.sub-nav div.content {
  list-style-type: none; height: 24px; font-size: 12px; padding: 0 0 2px 88px; -webkit-border-radius: 0 0 2px 2px; -moz-border-radius: 0 0 2px 2px; border-radius: 0 0 2px 2px; color: #fff;
  background: #379fc9; background: -moz-linear-gradient(top, #379fc9 0%, #2573a9 100%); background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#379fc9), color-stop(100%,#2573a9)); background: -webkit-linear-gradient(top,  #379fc9 0%,#2573a9 100%);background: -o-linear-gradient(top,  #379fc9 0%,#2573a9 100%);background: -ms-linear-gradient(top,  #379fc9 0%,#2573a9 100%);background: linear-gradient(to bottom,  #379fc9 0%,#2573a9 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#379fc9', endColorstr='#2573a9',GradientType=0 );
}
div.sub-nav div.path {
  float: left; padding: 0 40px 0 0; height: 24px; line-height: 24px;
}
div.sub-nav div.path span {
  display: block; float: left; margin: 0 10px;
}
div.sub-nav div.switch {
  float: right; padding: 0 20px 0 0; height: 24px; line-height: 24px;
}
div.sub-nav a {
  height: 24px; line-height: 24px; margin: 0; display: block; float: left; color: #fff; text-decoration: none;
}
div.sub-nav a:hover, nav.sub-nav a.selected {
  text-decoration: underline; color: #fff;
}






table {
  border: 0px;
  border-collapse: collapse;
  font-size: 13px;
}
td, th {
  vertical-align: top;
  padding: 0px;
}
em {
  color:#111;
}
h1 {
  clear:both;
  font-size:18px;
  font-weight:bold;
  color:black;
  margin: .7em  0px  0px  0px;
  line-height: 25px;
}

h2 {
  font-size:14px;
  font-weight:bold;
  color:black;
  margin: 1em  0px  0px  0px;
}

h3 {
  font-size:12px;
  color:#171411;
  font-weight:bold;
  margin: 1em  0px  0px  0px;
}
h4{ margin: 1em  0px  0px  0px;}

p {
  margin:0px 0px 1.5em 0px;
}

dl {
  margin-top: 0px;
  margin-bottom: 0px;
}

dd {
        margin-top: 0px;
        margin-bottom: 0px;
}

ul {
        margin-top: 0px;
        margin-bottom: 0px;

}

.doc-prop, .doc-keyword, .doc-menu {
  font-weight:bold;
}

a {
  color: #145d7b;
  text-decoration:none;
}

a:hover {
  text-decoration:underline;
}

ul, li { margin-left:0px; }
a img {
  border: 0px;
}

/* Property tables */
.prop { width:20%; visibility:hidden; height:1px;}
.function { width:80%; visibility:hidden;height:1px;}
.tableheader { visibility:hidden; }

/* Previous & Next buttons */
/* Previous + Next style navigation */

.nav {
  clear: both;
  margin-top: 10px;
  margin-bottom: 10px;
}

.nav .nav-prev,
.nav .nav-next {
}

.nav .nav-prev .nav-left {
  float: left;
  background: url(../images/navigation/prev_left.png) top;
  height: 22px;
  width: 20px;
}
.nav .nav-prev .nav-right {
  float: left;
  background: url(../images/navigation/prev_right.png) top;
  height: 22px;
  width: 11px;
}
.nav .nav-next .nav-left {
  float: right;
  background: url(../images/navigation/next_right.png) top;
  height: 22px;
  width: 20px;
}
.nav .nav-next .nav-right {
  float: right;
  background: url(../images/navigation/next_left.png) top;
  height: 22px;
  width: 11px;
}
.nav .nav-prev .nav-main,
.nav .nav-next .nav-main {
  height: 22px;
  background: url(../images/navigation/nav_back.png) top repeat-x;
  white-space: nowrap;

  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2px;

  color: #333;
}
.nav .nav-prev .nav-main {
  float: left;
  text-align: left;
}
.nav .nav-next .nav-main {
  float: right;
  text-align: right;
}
.nav a {
  text-decoration: none;
}
.nav a:hover {
  text-decoration: underline;
}


/* Styles for the title bar */
.titlebar {
  width:100%;
  background: url(../images/top/stretch.png) top;
  font-weight:bold;
  color:#a4abae;
  vertical-align:middle;
}
.titleleft {
  vertical-align: top;
  width:80px;
  height:64px;
}
.titleright {
  background: url(../images/top/right.png);
  width:9px;
  height:64px;
}

.titlemid {
  background: url(../images/top/stretch.png) top;
  height:64px;
  width:100%;
}

.titlemid .doctitle {
  height:30px;
  font-size: 15px;
  padding-top:3px;
  padding-left:9px;
  vertical-align:middle;
  width:100%;
  color:#c7c7c7;
  white-space: nowrap;  
}

.titlemid .docpath {
  white-space: nowrap;
  color:#a4abae;
  margin-top:2px;
  margin-left:9px;
  width:100%;
}

.titlemid .switchlink {
  white-space: nowrap;
  color:#a4abae;
  vertical-align:middle;
  text-align:right;
}

.titlemid a {
  color: #a4abae;
  text-decoration:none;
}

.titlemid a:hover {
  text-decoration:underline;
}

.switchlink {
  text-align:right;
  padding-right:16px;
  padding-left:10px;
}

.manual {
  margin-left:74px;
  margin-right:20px;
}

.vspace {
  margin-top:10px;
}

/* Supress these styles in offline docs */
.docs-navigation        { display:none; }
.scripting-text       { display:none; }
.components-text        { display:none; }
.manual-text        { display:none; }

/* scriptref styles 
    ======================================================*/
    
/* left navigation menu*/
form.apisearch {
  padding: 0px;
  margin: 0px;
}

ul.left-menu {
  position: absolute;
  left: 5px;
  top: 90px;
  
  width: 139px;
  padding: 0px 0px 0px 20px;
  margin: 0px;
  line-height: 15px;
  list-style-type: none;
}
.left-menu-heading, .left-menu-softheading, .left-menu-subheading {
  padding-top: 10px;
  font-weight: bold;
  color:black;
  display: block;
}
.left-menu-indent {
  padding-left: 2em;
}
.left-menu a {
  text-decoration: none;
  white-space: nowrap;
}

.left-menu a:hover {
  text-decoration: underline;
  color: #145d7b;
}
.left-menu-item,  .left-menu-item a {
  color: #352f28;
}
.left-menu-inherited-item,  .left-menu-inherited-item a {
  color: #352f28;
}


/* class page */
.scriprefmain {
  padding-top:0px;
  padding-left:185px;
  padding-right:5px;
}
.scriprefmain ul {
  list-style-type: none;

 }
.heading {
  clear:both;
  font-size:18px;
  font-weight:bold;
  color:black;
  margin: .9em  0px  0px  0px;
  display:block;
  line-height: 25px;
}

.text {
  display:block;
  margin-bottom: 1.5em;
}

.script-section-softheading {
  font-size:12px;
  font-weight:bold;
  margin: 1em  0px  0px  0px;
}

.script-section-hardheading {
  font-size:14px;
  font-weight:bold;
  color:black;
  margin: 1em  0px  0px  0px;
}

.class-member-list, .class-member-list-inherited {
  width: 100%;
  border-bottom:1px solid #888580;
  border-top:1px solid #888580;
  margin-bottom:2em;
}
.class-member-list-name {
  width: 20%;
  text-align: left;
}
.class-member-description {
  display: inline;
}


/* function page */
.manual-entry h3 { margin-top: 0px; text-indent: -60px; margin-left:60px;}
.manual-entry h3 .hl-keyword,
.manual-entry h3 .hl-datatype,
.manual-entry h3 .classlink
 {
  font-weight:normal;
}

h3.soft { margin-top:1em;}
table.parameters { 
  margin-top:-12px;
  width:100%;
}
table.parameters thead { visibility:hidden; height:0px; display:block;}
table.parameters tbody {  border-bottom:1px solid #888580;
  border-top:1px solid #888580;
}
td.param-name {font-weight:bold; margin-right:10px;   padding-right: 10px; width:20%;}
pre, tt, code {
  font-family: "Monaco", "Lucida Console", "Courier New", Monospace;
}
.code, .codelisting {
  font-family: "Verdana", "Arial";
  font-size: 8pt;
  padding: 7px;
  background-color: #eee;
  color: #222;
  white-space: pre;
  margin-bottom: 1.5em;
  margin-top:0em;
  -moz-border-radius: 5px; -webkit-border-radius: 5px;
}

.comment {
  color: #006600;
}
.hl-comment {
  color: #006600;
}


/* Scripting overview stuff */
.toc {
  float: left;
  margin-top: 1px;
  margin-bottom: 1em;
  vertical-align: top;
  text-align: left;
}
.tocclear {
  clear: both;
}
.toc p {
  margin-bottom:0px;
}
.toc p.tocheader {
  font-weight:bold;
  background-color: white;
  text-align: left;
  font-size: 12px;
}


dt {  font-weight:bold; }
th { text-align:left; padding-right:20px;}

.pre-next-link a {
  width: 180px;
  display: inline-block;
  white-space: nowrap;
  margin-bottom: -3px;
}

.main ul {
  padding-left:20px;
}
